@charset "UTF-8";

@font-face {
    font-family: 'geral';
    src: url("../font/Roboto-Regular.ttf");
}

/* ########################### COMEÇO GERAL ########################### */
body {
    font-family: 'geral', sans-serif;
}
/* ########################### FIM GERAL ########################### */



/* ########################### COMEÇO HEADER ########################### */
/* Sticky */
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 102px;
}

/* Começo topo header */
#contato {
    display: flex;
    justify-content: space-around;
}

#contato #itens-contatos {
    display: flex;
    width: 65%;
    margin: 0.7em 0; 
    justify-content: center;
}

#contato #itens-contatos > li {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 0.9em;
    cursor: pointer;
    font-variant: small-caps;
}

#contato #itens-contatos > li  i {
    color: #ff0000;
    margin-right: 0.3em;
}

#contato #itens-contatos > li  span {
    color: #ff0000;
    font-size: 1.3em;
    margin-right: 0.3em;
    font-weight: 200;
}

#contato #itens-social {
    display: flex;
    width: 35%;
    margin: 0.8em 0;
    justify-content: center; 
}

#contato #itens-social > li {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 0.9em;
    cursor: pointer;
}

#contato #itens-social > li i {
    color: #000000;
    margin-right: 0.3em;
}
/* Fim topo header */

/* Começo geral */
.itens-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    background-color: #111111;
    height: 90px;
    width: 100%;
    z-index: 5;
}

#lp-responsivo {
    display: none;
}
/* Fim geral */

/* Começo button bar */
.button-bars {
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
}

.button-bars i {
    color: #e71d1d;
    font-size: 2.5em;
}

#logo .button-bars p {
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    font-variant: small-caps;
}
/* Fim button bar */

/* Começo logo */
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo .img-logo {
    width: 210px;
    height: 44px;
}
/* Fim logo */

/* Começo pesquisa */
#pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
}

#pesquisa #pesquisa-item {
    border: solid 1px #fff;
    border-radius: 4px;
    padding: 0 48px 0 10px;
    width: 35em;
    height: 45px;
    font-size: 0.9em;
    z-index: 1;
    outline: none;
}

#pesquisa button {
    background-color: #e71d1d;
    border: #e71d1d;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    z-index: 2;
    cursor: pointer;
    position: relative;
    right: 45px;
    top: 0.5px;
    transition: all ease 0.5s;
}

#pesquisa button:hover {
    background-color: #ff0000;
}

#pesquisa > button i {
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    margin: -10px 10px 10px -10px;
}
/* Fim pesquisa */

/* Começo itens na esquerda*/
#itens {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 269px;
}

#itens .itens-coisas > a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#itens .itens-coisas > #lin-mn-conta{
    gap: 5px;
}

#itens .itens-coisas a > .fa-solid{
    color: #e71d1d;
    font-size: 1.5em;
    font-weight: 100;
}

#itens .itens-coisas > a > p {
    color: #fff;
    font-size: 0.8em;
    font-variant: small-caps;
    font-weight: 100;
}

#itens .itens-coisas a #arrow-white{
    margin-top: 4px;
    color: #fff;
    font-size: 1em;
}

#itens .itens-coisas a #heart-red {
    color: #e71d1d;
    font-size: 1.8em;
    font-weight: 200;
}

#itens .itens-coisas a #heart-red:hover {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: #e71d1d;
}

#itens .itens-coisas a #cart-white {
    color: #fff;
    font-size: 1.9em;
}

#itens .itens-coisas a #ntf-circle {
    border: solid 2px #e71d1d;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    background-color: #e71d1d;
}

#itens .itens-coisas a #ntf-circle::after {
    content: '0';
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: -1px;
    margin-left: 3px;
    position: absolute;
}
/* Fim itens na esquerda*/

/* Começo menu */
.menu {
    padding: 0 35px 0 35px;
    background-color: #111111;
    border-top: solid 1px #4b4949;
    max-width: 100%;
    height: 48px;
    z-index: 1;
}

#menu-itens {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    position: relative;
}

#menu-itens .menu-item a {
    text-decoration: none;
    color: #fff;
    font-variant: small-caps;
    transition: 0.1s;
}

#menu-itens .menu-item a:hover {
    color: #e71d1d;
}

#menu-itens .menu-item a::after {
    content: " ";
    width: 0;
    height: 3px;
    background-color: #e71d1d;
    margin: 5px auto auto;
    display: block;
    transition: 0.1s;
}

#menu-itens .menu-item a:hover::after {
    width: 80%;
    transition: 0.3s linear;
}
/* Fim menu*/
/* ########################### FIM HEADER ########################### */



/* ########################### COMEÇO INDEX ########################### */
/* Começo carrousel */
#carousel {
    width: 100%;
    margin-bottom: 15px;
}

.slideshow-container {
    min-width: 100%;
    position: relative;
    margin: auto;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: #000000cc;
}

.imgslide {
    width:100%
}
  
.dots {
    text-align:center
}
  
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border: solid 1px #e71d1d;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s ease;
    position: relative;
    bottom: 30px;
}
  
.active, .dot:hover {
    background-color: #e71d1d;
}
  
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* Fim carrousel */

/* Começo principal */
#principal {
    width: 85%;
    margin: auto;
}
/* Fim principal */

/* Começo card */
#cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    height: 244px;
    width: 361px;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.text-card1 {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    font-variant: small-caps;
    position: absolute;
    margin-top: 2.8em;
}

.text-card2 {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    font-variant: small-caps;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 10px 30px;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    margin-top: 7.8em;
}

.text-card2:hover {
    background-color: #fff;
    color: #000;
}
/* Fim card */


/* Começo produtos */
.secao-produtos {
    margin: 50px 0;
}

#lancamentos-prod, #vendidos-prod {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-prod-r {
    display: flex;
    gap: 20px;
}

.secao-produtos .title-index {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 40px;
}

.secao-produtos .title-index::after {
    content: " ";
    width: 55px;
    height: 2px;
    background-color: #e71d1d;
    margin: 20px auto;
    display: block;
}

.card-produtos {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 250px;
    height: 460px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card-produtos:hover {
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

.produtos-top {
    display: flex;
    justify-content: space-between;
}

.produtos-top .promo {
    background-color: #f87070;
    width: 50px;
    height: 30px;
    color: #fff;
    opacity: 90%;
    font-weight: 700;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.produtos-top .fav span {
    color: #b4b4b4;
    font-size: 1.9em;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.produtos-top .fav span:hover {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #e71d1d;
}

.card-produtos .img-c {
    width: 250px;
}

.card-produtos .desc h1 {
    font-size: 1.3em;
    margin-bottom: 25px;
    margin-top: 5px;
}

.card-produtos .desc .desc-preco {
    margin-bottom: 35px;
}

.card-produtos .desc .desc-preco .preco {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.card-produtos .desc .desc-preco .preco .p1 {
    text-decoration: line-through;
    color: #9c9c9c;
}

.card-produtos .desc .desc-preco .preco span {
    font-size: 1.5em;
    font-weight: bold;
    color: #e71d1d;
}

.card-produtos .desc-preco .p2 strong {
    font-weight: bold;
}

.card-produtos .desc .btn-comprar {
    font-variant: small-caps;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #e71d1d;
    padding: 10px 50px;
    transition: all 0.3s ease-in;
}

.card-produtos .desc .btn-comprar:hover {
    background-color: #d81a1a;
}
/* Começo produtos */
/* ########################### FIM INDEX ########################### */



/* ########################### COMEÇO PRODUTO ########################### */
/* Começo topo */
#title-produto {
    text-align: center;
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid #eeeeee;
}
/* Fim topo */


/* Começo página*/
#cat-fil {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

/* Começo esquerda */
#categorias {
    border: solid 1px #c5c5c5;
    border-radius: 3px;
}

#categorias ul {
    display: flex;
}

#categorias ul li {
    padding: 15px 5px;
    cursor: pointer;
}

#categorias ul li:hover {
    background-color: #f0f0f0;
}

#categorias ul li a {
    text-decoration: none;
    font-size: 1.2em;
    font-variant: small-caps;
    color: #000;
    padding-right: 5px;
}
/* Fim esquerda */

/* Começo filtro */
#filtro {
    position: relative;
    right: 33px;
}

.btn1 {
    background-color: #fff;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    border: solid 0.1px #000;
    outline: none;
    border-radius: 5px 0 0 5px ;
}
  
.dropdown {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.dropdown .btn2 {
    background-color: #e71d1d;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0 ;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 170px;
    right: 3px;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown .btn2:hover  {
    background-color: #555758;
}
/* Fim filtro */

/* Começo produto */
#produtos {
    margin-top: 2em;
}

.card-produtos-pg {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
/* Fim produto */

/* Fim página*/
/* ########################### FIM PRODUTO ########################### */



/* ########################### COMEÇO EMPRESA ########################### */
/* Começo geral */
#meio-empresa {
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 25px;
}

.main-principal {
    width: 80%;
    margin: auto;
}

.main-topo {
    display: flex;
    margin: 40px 0;
    gap: 20px;
    border-bottom: 1px solid #b6b1b1;
    border-top: 1px solid #b6b1b1;
    padding: 10px 0;
}

.main-topo a {
    text-decoration: none;
    color: #a09999;
    transition: all 0.2s ease;
    font-size: 0.9em;
}

.main-topo a:hover {
    text-decoration: none;
    color: #746e6e;
}

.main-topo a::after {
    content: " ";
    border-right: 1px solid #b6b1b1;
    height: 60px;
    padding-left: 20px;
}

.main-topo a i {
    padding-right: 10px;
}

.main-topo p {
    font-weight: bold;
    font-size: 0.9em;
}

.main-meio > h1 {
    font-size: 2em;
    font-variant: small-caps;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-bottom: #6b6666 solid 3px;
}
/* Fim geral */

/* Começo */
#meio-empresa #cont-empresa {
    margin-bottom: 20px;
    display: flex;
}

#meio-empresa #cont-empresa p {
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}
/* Fim */
/* ########################### FIM EMPRESA ########################### */



/* ########################### COMEÇO CONTATO ########################### */
/* Começo */
#main-contato {
    display: grid;
    grid-template: 50px 100%/2fr;
    grid-template-areas: 't t' 'f i';
    margin-bottom: 25px;
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

#main-contato h1 {
    grid-area: t;
    width: 77vw;
    margin-bottom: 5px;
    border-radius: 5px;
    border-bottom: #6b6666 solid 3px;
}

#main-contato #art-form {
    grid-area: f;
    display: flex;
    justify-content: end;
    margin: 40px 20px 0 0;
}

#main-contato #art-form form #tb-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#main-contato #art-form form #tb-form #cabeca-tb {
    height: 20px;
    width: 100%;
}

#main-contato #art-form form #tb-form #cabeca-tb th {
    font-size: 1.15em;
    font-weight: bold;
    font-variant: small-caps;
}

#main-contato #art-form form #tb-form #corpo-tb .linha-tb {
    font-size: 1.1em;
    font-variant: small-caps;
    height: 75px;
}

#main-contato #art-form form #tb-form #corpo-tb .linha-tb .titulo-form {
    display: flex;
    justify-content: end;
}

#main-contato #art-form form #tb-form #corpo-tb .linha-tb .campo-form {
    height: 30px;
    width: 20em;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
    -moz-appearance: textfield;
    appearance: textfield;
}

#main-contato #art-form form #tb-form #corpo-tb .linha-tb #campo-mensagem {
    padding-bottom: 90px;
}

#main-contato #art-form form #tb-form #corpo-tb #btn-row {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

#main-contato #art-form form #tb-form #corpo-tb .linha-tb #btn-form {
    margin-top: 20px;
    height: 40px;
    width: 90px;
    background-color: #111111;
    color: #ffffff;
    border: solid 1px #111111;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-weight: bold;
}

#main-contato #art-form form #tb-form #corpo-tb .linha-tb #btn-form:hover {
    background-color: #686565;
    color: #ffffff;
}

#main-contato #cont-right {
    grid-area: i;
    margin: 120px 0 0 20px;
    min-height: 100%;
}

#main-contato #cont-right #table-info {
    margin-bottom: 10px;
    min-height: 40%;
}

#main-contato #cont-right #table-info .titulo-info {
    font-size: 1.1em;
    font-variant: small-caps;
}

#main-contato #cont-right #table-info .row-tb:hover {
    background-color: #e7e6e6;
}

#main-contato #cont-right #table-info .row-tb td {
    display: table-cell;
    vertical-align: middle;
}

#main-contato #cont-right iframe {
    width: 45vw;
    height: 220px;
    border: solid 2px #746e6e;
    border-radius: 2px;
}
/* Fim */
/* ########################### FIM CONTATO ########################### */



/* ########################### COMEÇO FOOTER ########################### */
/* Começo geral */
.container-f {
    display: grid;
    grid-template: 100px 230px 30px/1fr;
    grid-template-areas: "n" "f" "c";
}
/* Fim geral */



/* Começo 'início' footer */
#noticias {
    grid-area: n;
    width: 100%;
    display: flex;
    font-variant: small-caps;
    background-color: #e71d1d;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

#noticias #text-new-geral {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0 0 0 100px;
}

#noticias #text-new-geral i {
    font-size: 2.5em;
}

#noticias #text-new-geral #text-new1 {
    font-size: 1.5em;
}

#noticias #text-new-geral #text-new1 span {
    font-weight: bolder;
    font-size: 1.35em;
}

#noticias #text-new-geral #text-new2 {
    font-size: 0.9em;
}

#noticias #inputnew-geral {
    display: flex;
    margin: 0 100px 0 0;
    gap: 10px;
}

#noticias #inputnew-geral .input-new {
    padding: 0 48px 0 10px;
    width: 75%;
    height: 45px;
    font-size: 0.9em;
    outline: none;
}

#noticias #inputnew-geral #bnt-new {
    border: none;
    background-color: #111111;
    font-variant: small-caps;
    font-weight: 600;
    color: #fff;
    width: 55%;
    cursor: pointer;
    transition: all ease 0.5s;
}

#noticias #inputnew-geral > #bnt-new:hover {
    background-color: #313131;
}
/* Fim 'início' footer */



/* Começo 'meio' footer */
#itens-footer {
    grid-area: f;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: #111111;
}

.div-ri {
    padding-top: 25px;
    display: flex;
    gap: 100px;
}

#itens-footer .item-footer {
    width: 210px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#itens-footer .item-footer > h3 {
    margin-bottom: 15px;
    border-bottom: 3px solid #e71d1d;
    border-radius: 3px;
    padding-bottom: 10px;
    color: #fff;
    font-variant: small-caps;
}

#itens-footer .item-footer ul, p {
    text-align: center;
    margin-top: 2px;
}

#itens-footer .item-footer ul li {
    margin-bottom: 15px;
}

#itens-footer .item-footer ul li a {
    text-decoration: none;
    color: #696868;
    font-variant: small-caps;
    transition: all ease 0.2s;
}

#itens-footer .item-footer ul li a:hover {
    color: #9e9e9e;
}

#itens-footer .item-footer ul li a span {
    font-size: 1.3em;
    margin-right: 0.2em;
    font-weight: 200;
}

#itens-footer .item-footer p {
    color: #696868;
    font-variant: small-caps;
}

#itens-footer .item-footer #bnt-social button {
    background-color: #242222;
    border: none;
    border-radius: 5px;
    font-variant: small-caps;
    height: 3em;
    width: 3em;
    margin-left: 5px;
    cursor: pointer;
}

#itens-footer .item-footer #bnt-social button i {
    color: #686565;
    font-size: 1.5em;
    transition: all 0.2s ease-out;
}

#itens-footer .item-footer #bnt-social button:hover i {
    color: #aaa4a4;
}
/* Fim 'meio' footer */



/* Começo 'fim' footer */
#copyright {
    grid-area: c;
    background-color: #111111;
    border-top: solid 1px #4b4949;
    text-align: center;
    height: 100%;
    width: 100%;
}

#copyright p {
    color: #696868;
    margin-top: 5px;
}
/* Fim 'fim' footer */

/* Começo contatos fixos */
#itens-fixos-contatos {
    margin: 0 0 0 35px;
    position: fixed;
    top: 82%;
    z-index: 999;
}

#contatos-fixos ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contatos-fixos ul #w {
    font-size: 1.9em;
    background-color: #18b325;
    border: solid 1px #10a51c;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contatos-fixos ul #g {
    font-size: 1.8em;
    background-color: #dd5757;
    border: solid 1px #bd4949;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contatos-fixos ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
} 

#contatos-fixos ul li {
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
} 
/* Fim contatos fixos */

/* Começo top fixos */
#top-scroll {
    margin: 0 35px 0 0;
    position: fixed;
    left: 94.5%;
    top: 82%;
    z-index: 999;
}

#top-to-scroll {
    background-color: #f11212;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    cursor: pointer;
}

#top-value {
    display: block;
    background-color: #f11212;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #ffffff;
}
/* Fim top fixos */
/* ########################### FIM FOOTER ########################### */



/* ########################### COMEÇO RESPONSIVO ########################### */
@media screen and (max-width: 1247px) {
    /* Começo header */
    #pesquisa #pesquisa-item {
        width: 27em;
    }
    
    .itens-header #itens .itens-coisas a .rnone-coisas {
        display: none;
    }

    #itens {
        padding-left: 30px;
        width: 18%;
    }
    /* Fim header */



    /* Começo footer */
    /* Começo noticias */
    #noticias {
        gap: 30px;
    }

    #noticias #text-new-geral {
        margin-left: 80px;
    }

    #noticias #text-new-geral #text-new1 {
        font-size: 1em;
    }

    #noticias #inputnew-geral {
        margin-right: 80px;
    }
    /* Fim noticias */

    /* Começo meio */
    .div-ri {
        gap: 50px;
    }

    #itens-fixos-contatos {
        margin-left: 40px;
    }

    #top-scroll {
        left: 93.5%;
    }
    /* Começo fim */
    /* Fim footer */



    /* Começo index */
    /* Começo card */
    #principal #cards {
        justify-content: center;
    }

    #principal #cards .card, .img-card1 {
        width: 285px;
        height: 195px;
    }

    #principal #cards .card .text-card1 {
        margin-top: 2.2em;
    }

    #principal #cards .card .text-card2 {
        margin-top: 6.5em;
    }
    /* Fim card */

    /* Começo produtos */
    .secao-produtos .sec-r {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    /* Fim produtos */
    /* Fim index */



    /* Começo produtos */
    /* Começo filtro */
    #cat-fil #categorias ul li a {
        font-size: 1.1em;
    }

    #cat-fil #categorias ul li i {
        font-size: 1.1em;
    }
    /* Fim filtro */

    /* Começo card-produtos */
    .card-rp {
        width: 225px;
        height: 425px;
    }

    .card-rp .img-crp {
        width: 225px;
    }
    /* Fim card-produtos */
    /* Fim produtos */



    /* Começo contatos */
    #main-contato #art-form form #tb-form #cabeca-tb th {
        font-size: 1em;
    }

    #main-contato #art-form form #tb-form #corpo-tb .linha-tb {
        font-size: 0.9em;

    }

    #main-contato #art-form form #tb-form #corpo-tb .linha-tb .campo-form {
        width: 18em;
    }

    #main-contato #cont-right #table-info .titulo-info {
        font-size: 0.9em;
    }

    #main-contato #cont-right iframe {
        width: 40vw;
    }
    /* Fim contatos */
}



@media screen and (max-width: 999px) {
    /* Começo header */
    .itens-header {
        height: 95px;
        gap: 10px;
    }

    #contato {
        height: 2.5em;
    }

    #contato #itens-contatos {
        width: 75%;   
    }

    #contato #itens-contatos > li {
        font-size: 0.78em;
        width: 350px;    
    }
    
    #contato #itens-social {
        width: 20%;
    }
    
    #contato #itens-social > li {
        font-size: 0.8em;
    }

    #pesquisa {
        width: 60%;
    }

    #pesquisa #pesquisa-item {
        width: 20em;
    }

    #itens {
        position: relative;
        right: 15px;
        gap: 20px;
        padding-left: 0;
    }

    .menu {
        position: fixed;
        top: 0;
        background-color: #242222;
        height: 100vh;
        width: 35vw;
        padding: 1em;
        animation-duration: 0.5s;
        margin-left: -100em;
        z-index: 999999999999999999999999;
    }

    .menu #menu-itens {
        height: 60%;
    }

    .menu .button-bars {
        margin: auto;
    }

    .button-bars {
        display: block;
    }

    .menu #menu-itens {
        flex-direction: column;
        margin: auto;
    }

    .blur {
        filter: none;
    }
    
    @keyframes showSidebar {
        from {
            margin-left: -200em;
        }
    
        to {
            margin-left: -5vw;
        }
    }

    @keyframes closeSidebar {
        from {
            margin-left: -5vw;
        }
    
        to {
            margin-left: -200em;
        }
    }
    /* Fim header */



    /* Começo footer */
    .container-f {
        display: flex;
        flex-direction: column;
    }

    /* Começo noticias */
    #noticias {
        height: 100px;
    }

    #noticias #text-new-geral {
        margin-left: 8em;
    }

    #noticias #text-new-geral #text-new1 {
        font-size: 1em;
        width: 117px;
    }

    #noticias #text-new-geral #text-new2 {
        display: none;
    }

    #noticias #inputnew-geral {
        margin-right: 117px;
    }

    #noticias #inputnew-geral .input-new {
        padding: 0 0px 0 10px;
        width: 50%;
    }

    #noticias #inputnew-geral #bnt-new {
        width: 45%;
    }
    /* Fim noticias */

    
    /* Começo meio */
    #itens-footer {
        height: 420px;
    }

    #itens-footer .item-footer {
        height: 185px;
        margin-top: unset;
    }

    .div-ri {
        flex-direction: column;
        gap: unset;
    }

    #itens-fixos-contatos {
        margin-left: 45px;
    }

    #top-scroll {
        left: 91%;
    }
    /* Começo fim */
    /* Fim footer */



    /* Começo index */
    /* Começo card */
    #principal #cards .card, .img-card1 {
        width: 250px;
        height: 180px;
    }
    
    #principal #cards .card .text-card1 {
        margin-top: 2.1em;
        font-size: 1.7em;
    }
    
    #principal #cards .card .text-card2 {
        margin-top: 6.5em;
        font-size: 0.95em;
    }
    /* Fim card */
    /* Fim index */



    /* Começo produtos */
    /* Começo filtro */
    #cat-fil #categorias ul li a {
        font-size: 0.85em;
    }

    #cat-fil #categorias ul li i {
        font-size: 0.85em;
    }

    .btn1 {
        font-size: 0.8em;
        padding: 11.5px 2px;
    }

    .dropdown-content {
        min-width: 130px;
    }

    .dropdown-content a {
        padding: 12px 11px;
        font-size: 0.85em;
    }
    /* Fim filtro */


    /* Começo card-produtos */
    .card-rp {
        width: 180px;
        height: 395px;
    }

    .card-rp .img-crp {
        width: 180px;
    }
    /* Fim card-produtos */
    /* Fim produtos */



    /* Começo contatos */
    #main-contato #art-form form #tb-form #cabeca-tb th {
        font-size: 0.95em;
    }

    #main-contato #art-form form #tb-form #corpo-tb .linha-tb {
        font-size: 0.75em;

    }

    #main-contato #art-form form #tb-form #corpo-tb .linha-tb .campo-form {
        width: 13em;
    }

    #main-contato #cont-right #table-info .titulo-info {
        font-size: 0.75em;
    }

    #main-contato #cont-right iframe {
        width: 38vw;
    }
    /* Fim contatos */
}



@media screen and (max-width: 768px) {
    /* Começo header */
    .menu {
        width: 17em;
    } 

    #contato {
        display: none;
    }

    .itens-header {
        justify-content: space-between;
        height: 55px;
        background-color: rgb(8, 8, 8);
    }

    .itens-header #logo .button-bars {
        margin-left: 25px;
    }

    .itens-header #logo .button-bars i {
        font-size: 2em;
        color: #fff;
    }

    .itens-header #logo .button-bars p {
        margin-top: -2px;
    }

    .itens-header #logo .img-logo {
        display: none;
    }

    .itens-header #pesquisa #pesquisa-item, #btn-pesquisa {
        display: none;
    }

    .itens-header #pesquisa {
        width: 10em;
        position: relative;
    }

    .itens-header #pesquisa #itens {
        width: 90%;
        right: unset;
    }

    .itens-header #pesquisa #itens .itens-coisas a i {
        color: #fff;
        font-size: 1.45em;
    }

    .itens-header #pesquisa #itens .itens-coisas a #heart-red {
        color: #fff;
    }

    .itens-header #pesquisa #itens .itens-coisas a #cart-white {
        font-size: 1.6em;
    }

    #lp-responsivo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        background-color: #111111;
    }

    #logo-r {
        max-width: 100%;
        margin: 15px 0;
    }

    #logo-r .img-logor {
        height: 44px;
        width: 210px;
    }

    #pesquisa-r {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
        margin-left: 40px;
    }
    
    #pesquisa-r #pesquisa-itemr {
        border: solid 1px #fff;
        border-radius: 4px;
        padding: 0 48px 0 10px;
        width: 90%;
        height: 45px;
        font-size: 0.9em;
        z-index: 1;
    }
    
    #pesquisa-r button {
        flex-shrink: 0;
        background-color: #e71d1d;
        border: #e71d1d;
        border-radius: 4px;
        height: 40px;
        width: 40px;
        z-index: 2;
        cursor: pointer;
        position: relative;
        right: 44.5px;
        top: 0.5px;
        transition: all ease 0.5s;
    }
    
    #pesquisa-r button:hover {
        background-color: #ff0000;
    }
    
    #pesquisa-r > button i {
        color: #fff;
        font-size: 1.5em;
        position: absolute;
        margin: -10px 10px 10px -10px;
    }
    /* Fim header */



    /* Começo footer */
    .container-f {
        display: flex;
        flex-direction: column;
    }

    /* Começo noticias */
    #noticias {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 365px;
    }

    #noticias #text-new-geral {
        flex-direction: column;
        margin-left: unset;
        max-width: 100%;
        gap: 5px;
    }

    #noticias #text-new-geral #text-new2 {
        display: unset;
    }

    #noticias #inputnew-geral {
        flex-direction: column;
        margin-right: unset;
        max-width: 60%;
        width: 100%;
        margin: 5px 0;
    }

    #noticias #inputnew-geral .input-new {
        width: 100%;
    }

    #noticias #inputnew-geral #bnt-new {
        width: 50%;
        padding: 15px;
        margin: auto;
    }
    /* Fim noticias */

    
    /* Começo meio */
    #itens-footer {
        height: 660px;
        justify-content: unset;
        flex-direction: column;
        padding-top: 0px;
        gap: unset;
    }

    #itens-footer .item-footer {
        height: unset;
        margin-top: unset;
    }

    .div-ri {
        flex-direction: column;
        gap: unset;
    }

    #itens-fixos-contatos {
        margin-left: 40px;
    }

    #top-scroll {
        left: 88%;
    }

    #copyright {
        height: 34px;
    }

    #copyright p {
        font-size: 0.89em;
    }
    /* Começo fim */
    /* Fim footer */



    /* Começo index */
    /* Começo card */
    #principal #cards {
        align-items: center;
        flex-direction: column;
    }

    #principal #cards .card, .img-card1 {
        width: 95%;
        height: 85%;
    }

    #principal #cards .card .text-card1 {
        margin-top: 2.5em;
        font-size: 6vw;
    }

    #principal #cards .card .text-card2 {
        margin-top: 7.8em;
        font-size: 3vw;
    }
    /* Fim card */

    /* Começo produtos */
    .card-produtos-ir {
        width: 185px;
        height: 402px;
    }

    .card-produtos-ir .img-cir {
        width: 185px;
    }
    /* Fim produtos */
    /* Fim index */



    /* Começo produtos */
    /* Começo list categorias */
    #cat-fil #categorias {
        display: flex;
        align-items: center;
        height: 25px;
    }

    #cat-fil #categorias ul {
        height: 25px;
    }

    #cat-fil #categorias ul li a {
        font-size: 0.5em;
    }

    #cat-fil #categorias ul li i {
        font-size: 0.5em;
    }

    #cat-fil #categorias ul li {
        padding: 0px 5px;
    }

    .btn1 {
        font-size: 0.6em;
        padding: 6.5px 1px;
    }

    .dropdown .btn2 {
        height: 27px;
        width: 22px;
        padding: 0px;
    }

    .dropdown .btn2 i {
        margin: auto;
    }

    .dropdown-content {
        min-width: 95px;
    }

    .dropdown-content a {
        padding: 12px 2px;
        font-size: 0.65em;
    }
    /* Fim list categorias */


    /* Começo card-produtos */
    .card-rp {
        width: 130px;
        height: 335px;
    }

    .card-rp .img-crp {
        width: 130px;
    }

    .card-rp .desc .desc-preco .preco-rp {
        gap: 2px;
    }

    .card-rp .desc .desc-preco .preco-rp .p1-rp {
        font-size: 0.8em;
    }

    .card-rp .desc .desc-preco .preco-rp span {
        font-size: 1.1em;
    }

    .card-rp .desc .desc-preco .p2-rp {
        font-size: 0.85em;
    }

    .card-rp .desc .btn-comprar-rp {
        padding: 10px 20px;
    }
    /* Fim card-produtos */
    /* Fim produtos */



    /* Começo contatos */
    #main-contato {
        grid-template-areas:  't t' 'f f';
    }

    #main-contato #cont-right {
        display: none;
    }

    #main-contato #art-form {
        justify-content: center;
        margin: 40px 0 0 0;
    }

    #main-contato #art-form form {
        width: 100%;
    }

    #main-contato #art-form form #tb-form #cabeca-tb {
        display: flex;
        justify-content: center;
    }

    #main-contato #art-form form #tb-form #corpo-tb {
        width: 100%;
    }

    #main-contato #art-form form #tb-form #cabeca-tb th {
        font-size: 1.2em;
    }

    #main-contato #art-form form #tb-form #corpo-tb .linha-tb {
        display: flex;
        justify-content: center;
        font-size: 1.1em;
    }

    #main-contato #art-form form #tb-form #corpo-tb .linha-tb .itens-tb-cr {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
    }

    #main-contato #art-form form #tb-form #corpo-tb #mensagem-tb-r {
        height: 124px;
    }

    #main-contato #art-form form #tb-form #corpo-tb #btn-row {
        margin-left: 180px;
    }
    /* Fim contatos */



    /* Começo empresa */
    #meio-empresa #cont-empresa {
        flex-direction: column;
        gap: 15px;
    }
    /* Fim empresa */
}



@media screen and (max-width: 450px) {
    /* Começo footer */
    #itens-fixos-contatos {
        margin-left: 10px;
    }

    #itens-fixos-contatos #contatos-fixos #w {
        font-size: 1.5em;
        height: 41px;
        width: 41px;
    }

    #itens-fixos-contatos #contatos-fixos #g {
        font-size: 1.5em;
        height: 41px;
        width: 41px;
    }

    #top-scroll {
        left: 83%;
    }

    #top-to-scroll {
        width: 51px;
        height: 51px;
    }

    #copyright p {
        font-size: 0.78em;
    }
    /* Fim footer */



    /* Começo index */
    /* Começo produtos */
    .card-produtos-ir {
        width: 125px;
        height: 330px;
    }

    .card-produtos-ir .img-cir {
        width: 125px;
    }

    .card-produtos-ir .desc .desc-preco .preco-ir {
        gap: 2px;
    }

    .card-produtos-ir .desc .desc-preco .preco-ir .p1-ir {
        font-size: 0.8em;
    }

    .card-produtos-ir .desc .desc-preco .preco-ir span {
        font-size: 1.1em;
    }

    .card-produtos-ir .desc .desc-preco .p2-ir {
        font-size: 0.85em;
    }

    .card-produtos-ir .desc .btn-comprar-ir {
        padding: 10px 18px;
    }
    /* Fim produtos */
    /* Fim index */



    /* Começo produtos */
    /* Começo list categorias */
    #cat-fil #categorias {
        display: flex;
        align-items: center;
        height: unset;
        width: 100%;
    }

    #cat-fil #categorias ul {
        height: 25px;
        width: 100%;
    }

    #cat-fil #categorias ul li a {
        font-size: 0.5em;
    }

    #cat-fil #categorias ul li i {
        font-size: 0.5em;
    }

    #cat-fil #categorias ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 0px;
        width: 100%;
    }

    #filtro {
        display: none;
    }
    /* Fim list categorias */

    /* Começo card-produtos */
    .card-rp {
        width: 80px;
        height: 260px;
    }

    .produtos-top-rp .promo-rp {
        width: 30px;
        height: 20px;
    }

    .produtos-top-rp .promo-rp span {
        font-size: 0.6em;
    }

    .produtos-top-rp .fav-rp span {
        font-size: 1.3em;
    }

    .card-rp .img-crp {
        width: 80px;
    }

    .card-rp .desc-rp h1 {
        font-size: 1em;
    }

    .card-rp .desc .desc-preco .preco-rp {
        gap: 2px;
    }

    .card-rp .desc .desc-preco .preco-rp .p1-rp {
        font-size: 0.6em;
    }

    .card-rp .desc .desc-preco .preco-rp span {
        font-size: 0.65em;
    }

    .card-rp .desc .desc-preco .p2-rp {
        font-size: 0.6em;
    }

    .card-rp .desc .btn-comprar-rp {
        padding: 6px 6px;
        font-size: 1em;
    }
    /* Fim card-produtos */
    /* Fim produtos */



    /* Começo contatos */
    #main-contato {
        margin-right: -15px;
    }

    #main-contato #art-form form #tb-form #cabeca-tb th {
        font-size: 1em;
    }

    #main-contato #art-form form #tb-form #corpo-tb .linha-tb {
        font-size: 0.9em;

    }

    #main-contato #art-form form #tb-form #corpo-tb .linha-tb .itens-tb-cr {
        width: 123px;
    }

    #main-contato #art-form form #tb-form #corpo-tb #btn-row {
        margin-left: 135px;
    }
    /* Fim contatos */
}
/* ########################### FIM RESPONSIVO ########################### */